<h2>Log in or join to organize your closet!</h2>

<main class="home-container">
  <img class="home-img" src="http://i.imgur.com/kgwSkYb.jpg" alt="shopping"/>
</main>

<footer class="home-footer">
  <form action="/signup" method="POST">
  <div>
    <label for="text">Sign Up: </label>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" name="submit"> Sign up</button>
  </div>
</form><br>


  <form action="/login" method="POST">
    <div>
      <label for="text">{{#if test}}<span class="animated flash">Log in:</span>{{else}}Log in:{{/if}} </label>
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button type="submit" name="submit"> Log in</button>
    </div>
  </form>
</footer>
