<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Shrikhand" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="icon" type="image/jpeg" href="/pic/logo.jpg">
  </head>
  <body>
    <header>
      <div class="sign-out">
        {{#if user}}
        <form action="/signout?_method=DELETE" method="POST">
          <button type="submit" name="submit" class="signout">Log Out</button>
        </form>
        {{else}}
        {{/if}}
      </div>
      <h1 class="main-header"><a href="/users">Custom Closets</a></h1>
      <div>
        <a href="/users"><img class="logo" src="/pic/logo.jpg"></a>
      </div>
    </header>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
