<h2>Welcome {{user.username}}! Check out your friends' closets below:</h2>

<main class="users-main">
  {{#each users}}
    <ul>
      <a href="/closet/{{_id}}"> <li class="users">{{username}}</li></a>
    </ul>
  {{/each}}
</main>

<footer>
  <a href="/">Don't see your closet? Sign up now!</a>
</footer>
