body {
  background-color: rgb(202, 154, 202);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

header, footer {
  background-color: rgba(150, 158, 165, 0.7);
  padding: 0.5em;
  border-radius: 5px;
}

.sign-out {
  float: right;
  margin-right: 1vw;
  margin-top: 2vh;
}

.closet-list {
  float: left;
  /*clear: both;*/
  margin: .5em;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

footer {
  clear: both;
  width: 100vw;
  margin-bottom: .5em;
}

.stay-bottom {
  position: absolute;
  bottom: 0;
}

/*.users {
  color: blue;
  background-color: red;
}*/

form {
  display: flex;
  flex-direction: column;
}

.new-clothing, .delete-clothing {
  width: 30vw;
}
