<h2>{{user.username}}'s Closet</h2>

{{#each user.clothes}}
  <ul>
    <li><a href="/closet/{{_id}}/show">Show<img src="{{imageURL}}"/></a></li>
  </ul>
{{/each}}

<footer>
  <a href="/closet/{{user._id}}/new">Add clothes to your closet!</a>
</footer>
