
<h2>Add to Your Closet {{user.username}}!</h2>

<main>
  <p> Went shopping? Tell us more! </p>
  <!-- <form action="/addImage" method="post">
    <input name="file" type="file">
    <br>
    <input type="submit"> -->

    //example 2
    <!-- <input type="file" id="file-input">
    <p id="status">Please select a file</p>
    <img id="preview" src="/images/default.png"> -->
</form>
  <form class="new-clothing" method='POST' action='/closet'>
    <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png">
    <label for='category'>Category:</label>
    <select name='category'>
      <option value='jacket'>jacket</option>
      <option value='dress'>dress</option>
      <option value='pants'>pants</option>
      <option value='shirt'>shirt</option>
      <option value='shoes'>shoes</option>
      <option value='socks'>socks</option>
      <option value='accessories'>accessories</option>
    </select>
    <label for='brand'>Brand:</label>
    <input name='brand'>
    <label for='color'>Color:</label>
    <input name='color'><br>
    <label for='size'>Size:</label>
    <input name='size'>
    <label for='imageURL'>Image URL:</label>
    <input name='imageURL'>
    <input type='submit' value='Yay Clothes!'>
  </form>
</main>

<footer class="stay-bottom">
  <a href="/closet/{{user._id}}">Go back to your closet!</a>
</footer>

<!-- <script>
(() => {
document.getElementById("file-input").onchange = () => {
  const files = document.getElementById('file-input').files;
  const file = files[0];
  if(file == null){
    return alert('No file selected.');
  }
  getSignedRequest(file);
};
})();

function getSignedRequest(file){
  const xhr = new XMLHttpRequest();
  xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        const response = JSON.parse(xhr.responseText);
        uploadFile(file, response.signedRequest, response.url);
      }
      else{
        alert('Could not get signed URL.');
      }
    }
  };
  xhr.send();
}

function uploadFile(file, signedRequest, url){
  const xhr = new XMLHttpRequest();
  xhr.open('PUT', signedRequest);
  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        document.getElementById('preview').src = url;
        document.getElementById('avatar-url').value = url;
      }
      else{
        alert('Could not upload file.');
      }
    }
  };
  xhr.send(file);
}

</script> -->
